.R_Form{
    padding-bottom: 3vh;
    margin-top: 2%;
    width: 50%;
    margin-left: 25%;




}
.form{
    width: 98vw;
    height: 98vh;

}
.btn_cnfrm{
    color: black;
    background-color: white;
}
