.li{
    text-decoration: none;
    color: grey;
    margin-right: 3%;
    width: 15vw;
    padding: 3%;
    border-radius: 6%;

}
.li:hover{
    color: black;
    background-color: lightgray;

}

.li:focus-within{
    color: black;
}
#basic-navbar-nav{
    width: 70%;
    margin-left: 15%;
}