
.section{
    width: 50%;
    margin: 5% 25%;
    display: inline-block;

}
.bg{
    width: 14%;
    margin-left:42% ;
    margin-top: 3%;
    border-radius: 50%;

}
hr{
    color: white;}

.btnbg{

    color: black;
    text-decoration: none;

}
.btnapp{
    color: black;
    border: none;
    width: 30%;
    margin-left: 35%;
    margin-top: 20vh;
    background-color: white;

    text-decoration: none;
    padding: 13px;
    text-align: center;
    border-radius: 5%;
    display: inline-block;


}
.icone{

    border-radius: 50%;
    height: 200px;
    width: 30%;

}
body{

}
.hp{height: 98vh; /* 100% de la hauteur de la fenêtre */
    width: 98vw;
    background-image: url("assets/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    backface-visibility : inherit;
    color: black;
}

.listCov{
    display: inline-block;
    margin-right: 4%;
    margin-top: 2%;

}
.Card{


}
#section1{
    padding-left: 10%;
}
.pag{
    display: flow-root;
}
.pagination > li {
    display: inline-block;
    padding-left: 0;
}
.pagination > li {
    list-style: none;
    border: 0.9px solid;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #2c689c;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.pagination>li.active>a {
    color: #fff;
    background-color: lightblue;
    border-color: white;
}

/* Style the active class (and buttons on mouse-over) */
.pagination > li > a:hover {
    background-color:  lightgrey;
    color: white;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    padding: 0px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    display: none!important;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    margin-right: 0;
    padding: 0px!important;
    border-top-right-radius: 4px;
    display: none!important;
}